*, html {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./images/bg.png);
  background-repeat: none;
  background-size: cover;
  /*background-image: linear-gradient(to bottom right, rgb(115, 255, 255), white); */
}

.navbar ul li:hover {
  background-color: rgba(91, 197, 91, 0.932); 
  border-radius: 10px; 
}

.btn-angkut1 {
  background-color: rgba(91, 197, 91, 0.932);
}

.text-poin {
  font-size: 90px;
}

.form-angkut {
  background-color: rgb(83, 189, 176);
}

